<div class="container">

    <h1>Products By IDs</h1>

    <table class="table">
  <thead>
    <tr>
        <th scope="col">id</th>
        <th scope="col">title</th>
        <th scope="col">description</th>
        <th scope="col">price</th>
        <th scope="col">status</th>
        <th scope="col">category</th>
        <th scope="col">code</th>
        <th scope="col">stock</th>
        <th scope="col">thumbnail</th>
    </tr>
  </thead>
  <tbody>
        <tr>
            <td>{{products.id}}</td>
            <td>{{products.title}}</td>
            <td>{{products.description}}</td>
            <td>{{products.price}}</td>
            <td>{{products.status}}</td>
            <td>{{products.category}}</td>
            <td>{{products.code}}</td>
            <td>{{products.stock}}</td>
            {{#thumbnail}}
                <td> <img style="width: 40px; height: 40px;" src={{products}}>  </td>
            {{/thumbnail}}
        </tr>
  </tbody>
</table>